.post{
    width: 100%; 
    border-radius: 10px;
    -webkit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    margin: 30px 0;
}
.postwrapper{
    padding: 20px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items:center
}
.postProfileImg{
    width:32px;
    height:32px;
    border-radius: 50%;
    object-fit: cover;
}
.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin:0 10px;
}
.postDate{
    font-size: 12px;
}

.postCenter{
    margin:20px 0;
}
.postImg{
    margin-top: 20px;
    width:100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width:24px;
    height:24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size:15px;
}

.postTopRight{
    position:relative;
}
.optionDel{
    position:absolute;
    top:0px;
    right:0;
    padding:20px;
    background-color: #1877f2;
    border-radius:10px;
    border:1px solid lightgray;
    display:flex;
    flex-direction:column;
    gap:10px;
    color:white;
    width:350px; 
    font-weight:300;
}
.Cancel{
    position:absolute;
    top:1rem;
    right:20px;
    cursor:pointer;
    opacity:0.7;
    color:black;
    font-size: 16px;
    background-color: white;
}
